body{
    background-color: orange;
    color: brown;
}

.corTextoCadastro{
    color: red;

}
.botao{
    width: 200px;
    height: 40px;
    border: 2px solid green;
    background-color: green;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
