body{
    background-color: #e0b48b;
    color: rgb(42, 165, 155);
    font-size: 20px;
}

.corTextoCadastro{
    color: red;
}

.paragrafo-class{
    font-size: 2em;
}

.botao{
    width: 200px;
    height: 40px;
    border: 0.5em solid black;
    background-color: green;
    border-radius: 25px;
    text-align: center;
    
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

